*{
    margin: 0;
    padding: 0;
}


body{ 
    background: #E3E6F3;
    background-size: cover;
}


.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
   /* background: rgb(51, 0, 102); 
    color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
}

.inner_box {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card_front, .card_back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background: rgb(255,218,185);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card_back {
    transform: rotateY(180deg);
}

.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input_box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}

::placeholder{
    color: #fff;
    font-size: 12px;
}

button {
    width: 100px;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.submit-button{
    position: relative;
}

.submit-button{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}